@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "northwell";
    src: url("/fonts/northwell/northwell-webfont.woff2") format("woff2"),
      url("/fonts/northwell/northwell-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
}